<!DOCTYPE html>
<html>
<head>
    <title>Squalrus Brews</title>
    <link rel="stylesheet" href="/css/squalrusbrews.min.css" />
    <link rel="stylesheet" href="/css/squalrusbrews.responsive.min.css" />

    <!-- MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
    <nav class="navbar navbar-fixed">
        <div class="container">
            <a href="http://squalrusbrews.com/">Squalrus Brews</a>
        </div>
    </nav>

    <section>
        <div class="container">
            <hgroup>
                <h1>:443er</h1>
                <h3>Porter</h3>
            </hgroup>

            <table>
                <tbody>
                    <tr>
                        <td>ABV</td>
                        <td>5.633%</td>
                    </tr>
                    <tr>
                        <td>OG</td>
                        <td>1.059</td>
                    </tr>
                    <tr>
                        <td>FG</td>
                        <td>1.016</td>
                    </tr>
                </tbody>
            </table>

            <p>Commonly referred to as the 2013 Holiday beer by Squalrus Brews this beer is dark and roasty. For the music aficionados the yeast for this brew grew up listening to the self-titled album by Ratatat. Secure yours now!</p>
        </div>
    </section>

    <section>
        <div class="container">
            <center>
                <h3>Congrats!</h3>
                <p>You are lucky enough to have a :443er in your posession before it's even ready. Please wait until the date below, refrigerate, and enjoy.
                <h2>Wednesday December 25, 2013</h2>
            </center>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="pull-right text-right">
                <p>built with</p>
                <p><a href="http://nodejs.org/" target="_blank">node.js</a></p>
                <p><a href="http://expressjs.com/" target="_blank">express.js</a></p>
                <p><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></p>
            </div>

            <p>&copy; 2013 Chad Schulz</p>
            <p><a href="https://github.com/squalrus/squalrusbrews.com" target="_blank">view source</a></p>
        </div>
    </footer>
</body>
</html>