<!DOCTYPE html>
<html>
<head>
    <title>Squalrus Brews</title>
    <link rel="stylesheet" href="/css/squalrusbrews.min.css" />
    <link rel="stylesheet" href="/css/squalrusbrews.responsive.min.css" />

    <!-- MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
    <nav class="navbar navbar-fixed">
        <div class="container">
            <a href="http://squalrusbrews.com/">Squalrus Brews</a>
        </div>
    </nav>

    <section>
        <div class="container">
            <hgroup>
                <h1>#FF7E00 Ale</h1>
                <h3>Amber Ale</h3>
            </hgroup>
        </div>
    </section>

    <section>
        <div class="container">
            <center>
                <h3>Congrats!</h3>
                <p>You are lucky enough to have a :443er in your posession before it's even ready. Please wait until the date below, refrigerate, and enjoy.
                <h2>Wednesday December, 25 2013</h2>
            </center>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="pull-right text-right">
                <p>built with</p>
                <p><a href="http://nodejs.org/" target="_blank">node.js</a></p>
                <p><a href="http://expressjs.com/" target="_blank">express.js</a></p>
                <p><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></p>
            </div>

            <p>&copy; 2013 Chad Schulz</p>
            <p><a href="https://github.com/squalrus/squalrusbrews.com" target="_blank">view source</a></p>
        </div>
    </footer>
</body>
</html>